{%- comment -%}
Key-figure row at the top of the impact page. Values come from stats.json.
{%- endcomment -%}
{%- assign head = site.data.impact.stats.headline -%}
<ul class="impact-stats">
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.bugs_total }}</span>
    <span class="impact-stat__label">bugs attributed to SQLancer and accepted as genuine</span>
  </li>
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.dbms_with_bugs }}</span>
    <span class="impact-stat__label">database systems with SQLancer-attributed bugs</span>
  </li>
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.dbms_projects_using_sqlancer }}</span>
    <span class="impact-stat__label">DBMS projects with evidence of using SQLancer</span>
  </li>
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.papers_citing_sqlancer }}</span>
    <span class="impact-stat__label">papers citing a SQLancer publication</span>
  </li>
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.papers_reusing_or_extending_sqlancer }}</span>
    <span class="impact-stat__label">papers that reuse or extend SQLancer</span>
  </li>
  <li class="impact-stat">
    <span class="impact-stat__value">{{ head.papers_comparing_against_sqlancer }}</span>
    <span class="impact-stat__label">papers that compare against SQLancer</span>
  </li>
</ul>
